h1 {
  font-family: $header-font;
  color: $accent;
  font-size: calc(3em + 7vw);
  margin-bottom: 0.25em;
}

a {
  text-transform: uppercase;
}

.header__logo {
  width: 200px;
  height: 50px;
}

.footer__logo {
  width: 200px;
  height: 50px;
}
