@import "../functions";

body {
  margin: 0;
  padding: 30px;
  font-family: $font-family-sans-serif;
  background: gradient($cv-bg-primary, $cv-bg-secondary);
  color: $cv-text;
}

.header__image {
  height: 250px;
  width: 200px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header__text {
  text-align: center;
}

.info {
  text-align: center;
}

.academic__table {
  width: $tables-width;

  td {
    padding-bottom: $tables-padding;
  }
}

.working__table {
  width: $tables-width;

  td {
    padding-bottom: $tables-padding;
  }
}

.languages__table {
  width: $tables-width;
  font-weight: bold;

  td {
    padding-bottom: $tables-padding;
  }
}

.software__table {
  width: $tables-width;

  th {
    padding-bottom: $tables-padding;
  }

  th {
    text-align: left;

  }
}

.courses__table {
  width: $tables-width;
  font-weight: bold;

  td {
    padding-bottom: $tables-padding;
  }
}

.others__table {
  width: $tables-width;
  font-weight: bold;

  td {
    padding-bottom: $tables-padding;
  }
}
