@use "sass:color";

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;
$font-size: 16px;

$cv-text: #000000;
$cv-bg-primary: #ebf7e6;
$cv-bg-secondary: #e6edf7;

$tables-padding: 20px;
$tables-width: 100%;
